body{
   .container{
      max-width: 1920px;
      width: 100%;
      margin: 0 auto;
      header{
         background-color: #1473E6;
         width: 100%;
         height: 80px;
         display: flex;
         justify-content: space-around;
         align-items: center;
         nav{
            max-width: 485px;
            width: 100%;
            ul{
               display: flex;
               justify-content: space-between;
               align-items: center;
               max-width: 485px;
               width: 100%;
               li{
                  color: white;
                  cursor: pointer;
                  font-weight: bold;
                  font-size: 20px;
                  &:hover{
                     color:#000;
                  }
               }
            }
         }
         .header-logo{
            font-size: 45px;
            color: #fff;
            font-weight: bold;
            max-width: 90px;
            width: 100%;
         }
         .search-box{
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            max-width: 500px;
            width: 100%;
            height: 40px;
            .search-input{
            max-width: 500px;
            width: 100%;
            background-color: #1473E6;
            border: none;
            border-bottom: 2px solid #fff;
            height: 40px;
            color: #fff;
            font-size: 20px;
            &:focus{
               outline: none;
            }
            }
            .search-icon{
               position: absolute;
               display: block;
               cursor: pointer;
               right: 0;
            }
         }
      }
      .sign-up{
         display: flex;
         width: 100%;
         align-items: center;
         justify-content: center;
         background-image: url("../images/Rectangle.png");
         background-repeat: no-repeat;
         background-size: cover;
         height: 775px;
         column-gap: 57px;
         position: relative;
         .sign-up-box{
            background-color: #fff;
            max-width: 395px;
            width: 100%;
            height: 450px;
            display: flex;
            justify-content: center;
            row-gap: 35px;
            align-items: center;
            flex-direction: column;
            border-radius: 10px;
            .sign-up-box-title{
               color: #000;
               font-weight: bold;
               font-size: 24px;
            }
            .first-input-box{
               width: 100%;
               max-width: 260px;
            }
            .second-input-box{
               width: 100%;
               max-width: 260px;
            }
            .first-input-box p{
               font-size: 14px;
               color: #808080;
            }
            .first-input-box input{
               margin-top: 5px;
               width: 100%;
               max-width: 260px;
               border: none;
               border: 1px solid #D3D3D3;
               border-radius: 5px;
               height:35px;
            }
            .second-input-box p{
               font-size: 14px;
               color: #808080;
            }
            .second-input-box input{
               margin-top: 5px;
               width: 100%;
               max-width: 260px;
               border: 1px solid #D3D3D3;
               border-radius: 5px;
               height:35px;
            }
            .submit-btn {
               width: 100%;
               max-width: 260px;
               background-color:#D6D6D6;
               border: none;
               height: 35px;
               border-radius: 5px;
               color: #fff;
               cursor: pointer;
            }
            .forgot-pass{
               font-size: 12px;
               font-weight: bold;
               color: #000;
               cursor: pointer;
               &:hover {
                 text-decoration: underline #000; 
               }
            }
            .after-creating-account{
               display: none;
            }
         }
         .sign-up-text{
            max-width: 370px;
            width: 100%;
            height: 170px;
            .sign-up-text-text{
            font-size: 20px;
            margin-top: 28px;
            }
            .sign-up-text-title{
               font-size: 24px;
               color:#000;
               font-weight: bold;
            }
         }
         .scroll-down{
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            left: 50px;
            bottom: 30px;
            flex-direction: column;
            img{
               display: block;
               cursor: pointer;
               margin-top: 10px;
            }
            p {
            color: #fff;
            font-size: 16px;
            font-weight: bold;
            }
         }

      }
      .our-team {
         background: radial-gradient(#FFCB8D,#FFB966);
         width: 100%;
         height: 1048px;
         display: flex;
         align-items: center;
         justify-content: center;
         .team-member-large-icon{
            max-width: 505px;
            display: block;
            width: 100%;
            height: 640px;
            background-image: url("../images/Rectangle2.png");
         }
         .our-team-box {
            width: 100%;
            max-width: 670px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .our-team-title{
               font-size: 54px;
               font-weight: bold;
               color: #000;
            }
            .our-team-text{
               font-size: 16px;
               margin-top: 10px;
            }
            .team-members{
               display: flex;
               align-items: center;
               justify-content: center;
               border: 1px solid black;
               width: 100%;
               max-width: 670px;
               margin-top: 15px;
               height: 550px;
               .team-members-top{
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
               }
               .team-members-bot{
                  display: flex;
                  justify-content: space-evenly;
                  align-items: center;
               }
               .team-members-cards{
                  display: flex;
                  justify-content:center;
                  align-items: center;
               }
            }
         }
      }
      .testimonials{
         width: 100%;
         height: 1048px;
         background-image: url("../images/Rectangle10.png");
         background-repeat: no-repeat;
         background-size: cover;
         overflow: hidden;
         display: flex;
         align-items: center;
         justify-content: center;
         flex-direction: column;
         .testimonials-title{
            font-size: 54px;
            color: #000;
            font-weight: bold;
           margin-top: 200px;
         }
         .testimonials-text{
            font-size: 20px;
            text-align: center;
            margin-top: 20px;
            width: 100%;
            max-width: 570px;
         }
         .testimonials-cards{
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            width: 100%;
            margin-top: 77px;
            flex-wrap: wrap;
            row-gap: 20px;
            .card {
               max-width: 370px;
               width: 100%;
               height: 270px;
               background-color: #fff;
               display: flex;
               justify-content: center;
               align-items: center;
               flex-direction: column;
               cursor: pointer;
               &:hover{
                  background-color: #0076FF;
                  color: white; 
               }
               &:hover .card-text{
                  font-weight: bold;
                  color:#fff;
               }
               .card-text{
                  width: 100%;
                  max-width: 306px;
                  color: #999999;
                  font-size: 16px;
               }
               .card-box{
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  margin-top: 20px;
               }
               .card-box-info{
                  margin-left: 20px;
                  .name {
                     font-size: 20px;
                  }
                  .company{
                     font-size: 12px;
                     font-weight: bold;
                     margin-top: 10px;
                  }
               }
            }
         }

      }
      .our-work{
         background-image: url("../images/Rectangle7.png");
         width: 100%;
         height: 1387px;
         display: flex;
         justify-content: flex-start;
         align-items: center;
         flex-direction: column;
         .our-work-title{
            font-size: 56px;
            color: #fff;
            font-weight: bold;
            margin-top: 111px;
         }
         .our-work-text{
            font-size: 20px;
            color: #fff;
            width: 100%;
            max-width: 570px;
            margin-top: 17px;
         }
         .our-works-btns{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 55px;
         }
         .our-works-btns button {
            display: block;
            color: #fff;
            background: none;
            border: 1px solid #fff;
            width: 130px;
            height: 50px;
            border-radius: 5px;
            font-weight: bold;
            font-size: 16px;
            cursor: pointer;
            &:hover {
               background-color: #378EF0;
            }
         }
         .our-work-cards-box{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 126px;
            width: 100%;
            max-width: 1600px;
            column-gap: 10px;
            .blokchain-card{
               background-image: url("../images/Rectangle6.png");
               background-repeat: no-repeat;
               background-size: cover;
            }
            .fintech-card{
               background-image: url("../images/Rectangle4.png");
               background-repeat: no-repeat;
               background-size: cover;
            }
            .neobank-card{
               background-image: url("../images/Rectangle3.png");
               background-repeat: no-repeat;
               background-size: cover;
            }
            .ai-card{
               background-image: url("../images/Rectangle5.png");
               background-repeat: no-repeat;
               background-size: cover;
            }
            .our-work-cards{
               background-color: #DBDBDB;
               width: 100%;
               max-width: 360px;
               height: 584px;
               border-radius: 15px;
               img{
                  margin-top: 184px;
                  margin-left: 32px;
                  display: block;
               }
               h3 {
                  margin-left: 32px;
                  font-size: 40px;
                  font-weight: bold;
                  color: #000;
                  margin-top: 5px;
                  width: 100%;
                  max-width: 135px;
               }
               p {
                  margin-left: 32px;
                  margin-top: 13px;
                  color: #999999;
                  font-size: 16px;
                  width: 100%;
                  max-width: 206px;
               }
            }
         }
      }
   }
}